.idea/

venv/

media/

static/admin/
static/debug_toolbar/
static/rest_framework/

logs/
*.log
.env

__pycache__
*/migrations/*
!*/migrations/__init__.py

*.db
db.*

*_report.txt
!.pylintrc
!.travis.yml